# Environment
.env
.env.*

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Test cache
.pytest_cache/

# Logs
*.log

uploads/